@import "./variables";
@import "./mixins";
@import "./reset";

body {
    font-family: $fontFamilyBase;
}

pre {
    font-family: $fontFamilyMono;
    font-weight: $fontWeightNormal;
}

.-hidden-pc {
    @include notSp {
        display: none !important;
    }
}

.-hidden-sp {
    @include sp {
        display: none !important;
    }
}

.-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.ReduxCount-enter {
    opacity: 0;
}
.ReduxCount-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.ReduxCount-exit {
    opacity: 1;
}
.ReduxCount-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}
